**/build
**/lake-packages
**/dist
**/node_modules
.vscode
.DS_Store

**/.lake

.buildt

lean/lakefile.olean

app/.yarn/

# Don't commit built extensions
*.vsix

paperproof.xyz/snapshots/
paperproof.xyz/public/

# Deployment artifacts
*.tar.gz
