/* LIGHT BLUE VERSION
.rs-canvas{
  background: rgba(199, 210, 225, 0.18);
}

.tl-frame_body.depth-0 { fill: rgba(199, 219, 248, 0.03); }
.tl-frame_body.depth-1 { fill: rgba(199, 219, 248, 0.21); }
.tl-frame_body.depth-2 { fill: rgba(199, 219, 248, 0.35); }



.rs-theme__light{
  --palette-grey: rgb(180, 208, 236);
}
*/

/*  "Cool grey material dark palette" VERSION
const colors=[ "#1f2933",
"#323f4b",
"#3e4c59",
"#52606d",
"#616e7c",
"#7b8794",
"#9aa5b1",
"#cbd2d9",
"#e4e7eb",
"#f5f7fa",
"rgba(132, 147, 171, 0.40)",
"rgba(132, 147, 171, 0.33)",
"rgba(132, 147, 171, 0.22)",

"",
"",
"",
].reverse()

*/

/* BLUE VERSION
.tl-frame_body.depth-0 { fill: rgba(213, 236, 253, 0.7); }
.tl-frame_body.depth-1 { fill: rgba(213, 236, 253, 0.36); }
.tl-frame_body.depth-2 { fill: rgba(213, 236, 253, 0.16); }
*/

/* GREY VERSION 
.tl-frame_body.depth-0 { fill: rgba(132, 147, 171, 0.22); }
.tl-frame_body.depth-1 { fill: rgba(132, 147, 171, 0.33); }
.tl-frame_body.depth-2 { fill: rgba(132, 147, 171, 0.40); }
*/

/* LIGHT GREY VERSION */
.tl-frame_body.depth-0 { fill: rgba(132, 147, 171, 0.11); }
.tl-frame_body.depth-1 { fill: rgba(132, 147, 171, 0.17); }
.tl-frame_body.depth-2 { fill: rgba(132, 147, 171, 0.24); }


.goalUsername{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  font-size: 25px;
  background: rgba(147, 153, 162, 0.11);
  justify-content: center;
  align-items: center;
  text-shadow: none;
  color: rgb(86, 95, 96);
}

/* This is directly copypasted from tldraw examples folder (https: //stackblitz.com/github/tldraw/tldraw/tree/examples?file=src%2Fstyles.css).
I added it to make the tldraw menus render nicely.
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  overscroll-behavior: none;
  touch-action: none;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  height: 100%;
}

/* This makes the Preferences menu icons visible (otherwise they are hidden) */
html, * {
  box-sizing: border-box;
}

/* This is our custom styles */
.tldraw-wrapper {
  position: fixed;
  inset: 0px;
  overflow: hidden;
}

.tlui-button{
  font-size: 13px;
}



.shape-node:hover{
  cursor: pointer;
  opacity: 0.65;
}

.shape-node.-not-focused{
  opacity: 0.2;
}

/* uncomment fill to see what it's doing */
/* Looks interesting, but looks like it's cleaner with no css at all */
.window:hover{
  /* fill: rgb(238, 228, 241); */
  /* cursor: pointer !important; */
}

.window-indicator{
  stroke: transparent;
  display: none;
}