body.standalone{
  .proof-tree{
    font-family: monospace; --vscode-editor-font-family: monospace;
    *{ font-family: monospace !important; }
  }
  margin: 0;
  padding: 20px !important;
  background: #f2ece921;
}

body.snapshot{
  .proof-tree{
    font-family: monospace; --vscode-editor-font-family: monospace;
    *{ font-family: monospace !important; }
  }
  margin: 0;
  padding: 20px !important;

  .proof-tree {
    transform: none !important;
  }

  /* Disable interactive elements in snapshot */
  button{ pointer-events: none; }
  button.hide-boxes{ display: none; }
  .MuiMenu-root{ display: none !important; }

  .tactic.-position-matches{
    font-weight: normal;
    color: #72787c;
  }

  .perfect-arrow{
    display: none !important;
  }
}


.proof-tree.-isSingleTacticModeON{
  #box-1{ width: 100vw !important; }

  /* This is so that unfolded theorems don't take up excessive space for no reason */
  .tactic.-hypothesis-tactic{
    display: block;
  }

  /* Makes yellow hypothesis color correct */
  header div.row-1 > div{
    flex-wrap: wrap;
  }
  .hypothesis.-highlighted, .hypothesis.data.-highlighted{
    border-color: #72787C;
  }

  .hypothesis-table .hypothesis.-highlighted{
    border-color: rgb(152 214 179) !important;
  }

  .single-tactic-hyp-row{
    padding-top: 1px;
    display: block !important;
    .hypothesis{
      display: block;
      width: fit-content;
      margin-top: 2px;
    }
  }

  .fancy-substring-theorem{
    text-decoration: underline;
    text-decoration-color: #72787c;
    cursor: pointer;
    text-underline-offset: 2px;
    &:hover{
      opacity: 0.8;
    }
  }
  .fancy-substring-hypothesis{
    color: #d0005b;
  }
}
.tactic{
  /* font-family: var(--vscode-editor-font-family); */
}

:not(.snapshot) .proof-tree.-we-are-on-ellipsis-tactic{
  .hypothesis.-highlighted, .goal.-highlighted{ border-color: #72787C; }
}

/* This is for folding/unfolding `have`s */
.tactic.-hypothesis-tactic{
  display: flex;
  justify-content: space-between;
  /* cursor: pointer; */
  transition: background-color 0.5s ease; 
  &.-highlight{
    background-color: rgb(255, 146, 250) !important;
  }
  &:hover button{
    background: none;
    opacity: 0.6;
    cursor: pointer; /* We do need { cursor: pointer } here too! */
  }
  .text{ cursor: default; }
  button{
    background: transparent;
    border: none;
    color: #6c8a97;
    
    padding: 0;
    padding-left: 10px;
  }
  .show-boxes{
    margin-top: -6px;
  }
  .hide-boxes{
    margin-top: -2px;
  }
}


/*______________________ BODY: prettiness ______________________*/
body *{
  box-sizing: border-box;
}
.hypothesis span.name{
  color: #d0005b;
}
/*
  Hides scrollbars - we can still scroll, but we don't want to show scrollbars.
  Notice we need both of these rules - one for ubuntu, another for osx.
*/
html{ scrollbar-width: none; }
body::-webkit-scrollbar{ display: none; }
body{
  background: white;
  color: #3a505a;
  font-weight: 500;
  /* Make tldraw bg dark for dark vscode themes */
  &.vscode-dark{
    background-color: var(--vscode-editor-background);
  }

  .proof-tree{
    border-radius: 3px;
    background: white;
  }
  /*
    Same font-family as InfoView's.
    Most importantly, makes symbols such as "∀ x ∈ A ∩ B, x ∈ A" render nicely.
  */
  .hypothesis, .goal{
    font-family: var(--vscode-editor-font-family);
  }
}

/*______________________ BODY: widths for zooming ______________________*/
body{
  padding: 70vh 70vw;
  width: fit-content;
  .proof-tree{
    width: max-content;
    transform-origin: 0% 0% 0px;
  }
}

/*______________________ ARROWS ______________________*/
.proof-tree{
  position: relative;
}
.perfect-arrow{
  z-index: 0;
  stroke-width: 2px;
  stroke: #a0ceb0;
  fill: #a0ceb0;
}
.tactic{
  .perfect-arrow{
    display: none;
  }
  &:hover .perfect-arrow,
  &.-success .perfect-arrow{
    display: block;
  }
}

.proof-tree.-isSingleTacticModeON{
  .tactic .perfect-arrow{ z-index: 5; display: block; }
}

/*______________________ PROOF-TREE: colors ______________________*/
/* This would be really easy to achieve with opacities, however various nodes goalUsernames must *cover* tactic borders to make them look good, which means they must be solid-color. */
.box{
  --color: color-mix(in srgb, rgba(132, 147, 171), white calc(90% - var(--level) * 7%));
  background: var(--color);
  /* This is necessary because otherwise the border-right will get swallowed up a bit (becomes too thin) in some tactic nodes */
  .tactic{ background-color: var(--color); }
}
.box > .goal-username{
  background: color-mix(in srgb, rgba(132, 147, 171), white calc(80% - var(--level) * 7%));
}
/* We can also adjust node colors in the future */
/* .hypothesis{
  background: color-mix(in srgb, #a4dabc, rgba(132, 147, 171) calc(var(--level) * 7%)) !important;
  border-color: color-mix(in srgb, rgb(124 211 158), rgba(132, 147, 171) calc(var(--level) * 7%)) !important;
} */
.box  { --level: 0;
& .box{ --level: 1;
& .box{ --level: 2;
& .box{ --level: 3;
& .box{ --level: 4;
& .box{ --level: 5;
& .box{ --level: 6;
& .box{ --level: 7;
& .box{ --level: 8;
}}}}}}}}}
/*______________________ PROOF-TREE: prettiness ______________________*/
.box{
  font-size: 12px;
  border-radius: 3px;
  flex-grow: 1;

  .child-boxes, .byBoxes{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
  }

  table.hypothesis-table{
    border-spacing: 0;

    td{
      padding: 0;
      padding-right: 2px;
      vertical-align: top;
    }
    td:last-child {
      padding-right: 0;
    }
  }
  
  .goal-username{
    width: 100%;
    text-align: center;
    color: #9c9797;
    padding: 0 10px;
    padding-bottom: 1px;
  }
}
.hypothesis, .goal, .tactic{
  flex-wrap: wrap;
  padding: 5px 12px;
  border-radius: 3px;
  /* exactly 3 lines */
  line-height: 1.3em;
  /* max-height: calc(1.3em * 3 + 12px); */
  /* overflow-y: auto; */
  word-break: break-word;
}

/* We need this to make sure <goal>s and <hyp>s stay on top of <tactic>s */
.goal, .hypothesis{ position: relative; }
/* We need this to make sure <hyp>s stay on top of <tactic>s and arrows */
.hypothesis{ z-index: 1; }
/* We need this to make sure <hyp>s stay on top of <tactic>s, but below arrows */
.goal{ z-index: 0; }

.tactic{
  margin-top: -2px; margin-bottom: -2px;
  padding-top: 7px; padding-bottom: 7px;

  color: #72787c;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23c7ccce' stroke-width='3' stroke-dasharray='4%2c 6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  &.-position-matches{
    font-weight: bold;
    color: #363d59;
  }
  &.-success{
    /* center text */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 7px;

    background: rgb(0 213 255 / 12%);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%239ed6e1' stroke-width='3' stroke-dasharray='4%2c 5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }
  &.-with-theorem{
    background-color: transparent !important;
  }
  &.-sorried{
    text-align: center;
    background: #f2ded94f;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23f0cac196' stroke-width='3' stroke-dasharray='4%2c 6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }
  &.-ellipsis{
    text-align: center;
    font-weight: bold;
    color: #363d59;
    letter-spacing: 2px;
    background: rgba(82, 95, 98, 0.049);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23c7ccce' stroke-width='3' stroke-dasharray='4%2c 6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }
  &.-sorried, &.-success, &.-ellipsis{
    /* increase padding by 1px, looks better this way */
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.hypothesis{
  background: #a4dabc;
  border: 2px solid rgb(152 214 179);
  .name{ color: #d0005b; }
  &.-hidden{ cursor: pointer; }
}
.-isGreenHypothesesOFF{
  .hypothesis.data{
    background: #f9e9b5;
    border: 2px solid rgb(239, 227, 152);
  }
}
.goal{
  background: rgb(249, 195, 195);
  border: 2px solid rgb(246, 185, 185);
  color: #5a5656;
}

.proof-tree.-isHiddenGoalNamesON{
  .goal-username{
    display: none;
  }
}

/*______________________ PROOF-TREE: paddings ______________________*/

/* This is the easiest way to acommodate for our nice negative-margin <tactic>s */
.box-insides{ padding-top: 2px; }
/* .data-hypotheses{ margin-top: -2px; } */

.box-insides{
  padding: 10px;
  padding-top: 12px;
  padding-bottom: 0;
}
table.hypothesis-table{
  margin-bottom: 12px;
}
table.hypothesis-table + .goals{
  margin-top: 30px;
}

.proof-tree.-isCompactModeON{
  #box-1 .child-boxes {
    header, .box-insides{
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

/* This might be our "symmetrical mode" */
/* .proof-tree.-isSymmetricalModeON{
  .box-insides{
    padding-left: 1px;
    padding-right: 1px;
  }
} */

/*______________________ PROOF-TREE: widths ______________________*/
.box{
  width: max-content;
}

header, footer{
  background: rgb(230, 233, 238);
  .title{
    text-transform: uppercase;
    font-size: 10px;
    padding: 4px 10px;

    width: 100%;
    text-align: center;
    color: rgb(156, 151, 151);
  }
}
/* All of this header logic is just to make the paddings look pretty */
header{
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 0;
  min-width: 100%;

  --hypNodeHeight: 30px;
  --bigPaddingBottom: 5px;
  &.-hoistAndPaddingBottomSmall, &.-hoistAndPaddingBottomBig{
    position: relative;
    div.row-1{
      padding-bottom: 2px;
    }
    div.row-2{
      height: calc(var(--hypNodeHeight) + var(--bigPaddingBottom));
      position: absolute;
      top: 100%; left: 0;
      width: 100%;
      background: rgb(230, 233, 238);
    }
    &+.box-insides{
      padding-top: 0;
      /*
      This makes sure header hypotheses not exceed 30px in height [in most cases!]
      TODO remove this when vscode switches to Chrome 125, and we can switch to anchor tags,
      see a related TODO in <Header/>
      */
      .hypothesis-table:first-child tr:nth-child(2) div.hypothesis {
        max-width: 300px !important;
      }
    }
  }

  &.-hoistAndPaddingBottomBig +.box-insides{
    > .hypothesis-table:first-child tr:nth-child(3) td{
      padding-top: 20px;
    }
  }
  &.-hoistAndPaddingBottomSmall{
    div.row-2{
      height: var(--hypNodeHeight);
    }
  }
  &.-row2Absent{
    div.row-1{
      padding-bottom: 5px;
    }
  }

  div.row-1 > div{
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;

    column-gap: 2px;
    row-gap: 2px;
  }
}
footer{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.hypothesis-table{
  .hypothesis{
    width: fit-content;
    max-width: 200px;
    min-width: 100%;
  }
}
/* tactics will just follow hyp widths */
.proof-tree.-isCompactTacticsON .tactic.-hypothesis-tactic{
  width: min-content;
  max-width: 100%;
  min-width: 100%;
  word-break: break-all;
}
/* tactics will have self-respect */
.proof-tree.-isCompactTacticsOFF .tactic.-hypothesis-tactic,
.proof-tree.-isCompactTacticsON .tactic.-hypothesis-tactic.-with-self-respect{
  width: 100% ;
  min-width: min-content ;
}

.goals{
  .goal{
    max-width: 200px;
    min-width: 100%;
  }
  .tactic{
    max-width: 200px;
    min-width: 100%;
  }
}
#box-1 > .box-insides > .goals{
  min-width: 200px;
}

/*______________________ DEVELOPMENT ______________________*/
.-hint pre{
  display: none;
  position: fixed;
  bottom: 0; right: 0;

  margin: 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1000;
  border-radius: 3px;
}
.-hint:hover pre{
  display: block;
}
