
.wow {
  position: relative;
}
.search{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  .suggested-theorems{
    background: white;

    .theorem{
      padding-top: 5px;
    }
  }

  background: white;
  padding: 10px;

  .hypothesis, .goal{
    margin-bottom: 10px;
    input{
      color: inherit;
      border: none;
      background: transparent;
      outline: none;
      &::placeholder {
        color: inherit;
        opacity: 0.6;
      }
    }
  }

  button{
    border: none;
    padding: 3px 12px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    color: #3c3b3bbd;
    border-radius: 2px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    background: #f0f0f0;
    &:hover{
      background: #e7e7e7;
    }
  }
}

.-is-searched{
  border: 2px solid green !important;
}











/*______________________ BODY: prettiness ______________________*/
body *{
  box-sizing: border-box;
}
.hypothesis span.name{
  color: #d0005b;
}
body{
  background: white;
  color: #3a505a;
  font-weight: 500;
  /* Hides scrollbars - we can still scroll, but we don't want to show scrollbars */
  &::-webkit-scrollbar { 
    display: none;
  }
  /* Make tldraw bg dark for dark vscode themes */
  &.vscode-dark{
    background-color: var(--vscode-editor-background);
  }

  .proof-tree{
    border-radius: 3px;
    background: white;
  }
  /*
    Same font-family as InfoView's.
    Most importantly, makes symbols such as "∀ x ∈ A ∩ B, x ∈ A" render nicely.
  */
  .hypothesis, .goal{
    font-family: var(--vscode-editor-font-family);
  }
}

/*______________________ BODY: widths for zooming ______________________*/
body{
  padding: 70vh 70vw;
  width: fit-content;
  .proof-tree{
    width: max-content;
    transform-origin: 0% 0% 0px;
  }
}

/*______________________ ARROWS ______________________*/
.proof-tree{
  position: relative;
}
.perfect-arrow{
  position: absolute;
  top: 0; left: 0;
  z-index: 0;
  pointer-events: none;

  stroke-width: 2px;
  stroke: #a0ceb0;
  fill: #a0ceb0;
}
.tactic{
  .perfect-arrow{
    display: none;
  }
  &:hover .perfect-arrow,
  &.-success .perfect-arrow{
    display: block;
  }
}

/*______________________ PROOF-TREE: colors ______________________*/
/* This would be really easy to achieve with opacities, however various nodes goalUsernames must *cover* tactic borders to make them look good, which means they must be solid-color. */
.box{
  --color: color-mix(in srgb, rgba(132, 147, 171), white calc(90% - var(--level) * 7%));
  background: var(--color);
  /* This is necessary because otherwise the border-right will get swallowed up a bit (becomes too thin) in some tactic nodes */
  .tactic{ background-color: var(--color); }
}
.box > .goal-username{
  background: color-mix(in srgb, rgba(132, 147, 171), white calc(80% - var(--level) * 7%));
}
/* We can also adjust node colors in the future */
/* .hypothesis{
  background: color-mix(in srgb, #a4dabc, rgba(132, 147, 171) calc(var(--level) * 7%)) !important;
  border-color: color-mix(in srgb, rgb(124 211 158), rgba(132, 147, 171) calc(var(--level) * 7%)) !important;
} */
.box  { --level: 0;
& .box{ --level: 1;
& .box{ --level: 2;
& .box{ --level: 3;
& .box{ --level: 4;
& .box{ --level: 5;
& .box{ --level: 6;
& .box{ --level: 7;
& .box{ --level: 8;
}}}}}}}}}
/*______________________ PROOF-TREE: prettiness ______________________*/
.box{
  font-size: 12px;
  border-radius: 3px;
  flex-grow: 1;

  .child-boxes{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
  }

  table.hypothesis-table{
    border-spacing: 0;

    td{
      padding: 0;
      padding-right: 2px;
      vertical-align: top;
    }
    td:last-child {
      padding-right: 0;
    }
  }
  
  .goal-username{
    width: 100%;
    text-align: center;
    color: #9c9797;
    padding: 0 10px;
    padding-bottom: 1px;
  }
}
.hypothesis, .goal, .tactic{
  padding: 5px 12px;
  border-radius: 3px;
  /* exactly 3 lines */
  line-height: 1.3em;
  /* max-height: calc(1.3em * 3 + 12px); */
  /* overflow-y: auto; */
  word-break: break-word;
}

/* We need this to make sure <goal>s and <hyp>s stay on top of <tactic>s */
.goal, .hypothesis{ position: relative; }
/* We need this to make sure <hyp>s stay on top of <tactic>s and arrows */
.hypothesis{ z-index: 1; }
/* We need this to make sure <hyp>s stay on top of <tactic>s, but below arrows */
.goal{ z-index: 0; }

.tactic{
  margin-top: -2px; margin-bottom: -2px;
  padding-top: 7px; padding-bottom: 7px;

  color: #72787c;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23c7ccce' stroke-width='3' stroke-dasharray='4%2c 6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  &.-success{
    /* center text */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 7px;

    background: rgb(0 213 255 / 12%);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%239ed6e1' stroke-width='3' stroke-dasharray='4%2c 5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }
  &.-sorried{
    text-align: center;
    background: #f2ded94f;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23f0cac196' stroke-width='3' stroke-dasharray='4%2c 6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }
  &.-ellipsis{
    text-align: center;
    background: rgba(82, 95, 98, 0.049);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23c7ccce' stroke-width='3' stroke-dasharray='4%2c 6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }
  &.-sorried, &.-success, &.-ellipsis{
    /* increase padding by 1px, looks better this way */
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.hypothesis{
  background: #a4dabc;
  border: 2px solid rgb(152 214 179);
  .name{ color: #d0005b; }
}
.-isGreenHypothesesOFF{
  .hypothesis.data{
    background: #f9e9b5;
    border: 2px solid rgb(239, 227, 152);
  }
}
.goal{
  background: rgb(249, 195, 195);
  border: 2px solid rgb(246, 185, 185);
  color: #5a5656;
}
.proof-tree:not(.-isReadonlyModeON){
  .hypothesis.-faded{
    background: color-mix(in srgb, var(--color), #a4dabc 30%);
    border-color: color-mix(in srgb, var(--color), rgb(152 214 179) 30%);
  }
  &.-isGreenHypothesesOFF .hypothesis.data.-faded{
    background: color-mix(in srgb, var(--color), #f9e9b5 30%);
    border-color: color-mix(in srgb, var(--color), rgb(239, 227, 152) 30%);
  }
  .goal.-faded{
    background: color-mix(in srgb, var(--color), rgb(249, 195, 195) 30%);
    border-color: color-mix(in srgb, var(--color), rgb(246, 185, 185) 30%);
  }
}
.proof-tree.-isHiddenGoalNamesON{
  .goal-username{
    display: none;
  }
}

/*______________________ PROOF-TREE: paddings ______________________*/

/* This is the easiest way to acommodate for our nice negative-margin <tactic>s */
.box-insides{ padding-top: 2px; }
/* .data-hypotheses{ margin-top: -2px; } */

.box-insides{
  padding: 10px;
  padding-top: 12px;
  padding-bottom: 0;
}
table.hypothesis-table{
  margin-bottom: 12px;
}
table.hypothesis-table + .goals{
  margin-top: 30px;
}

.proof-tree.-isCompactModeON{
  header, .box-insides{
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* This might be our "symmetrical mode" */
/* .proof-tree.-isSymmetricalModeON{
  .box-insides{
    padding-left: 1px;
    padding-right: 1px;
  }
} */

/*______________________ PROOF-TREE: widths ______________________*/
.box{
  width: max-content;
}

header, footer{
  background: rgb(230, 233, 238);
  .title{
    text-transform: uppercase;
    font-size: 10px;
    padding: 4px 10px;

    width: 100%;
    text-align: center;
    color: rgb(156, 151, 151);
  }
}
/* All of this header logic is just to make the paddings look pretty */
header{
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 0;
  min-width: 100%;

  --hypNodeHeight: 30px;
  --bigPaddingBottom: 5px;
  &.-hoistAndPaddingBottomSmall, &.-hoistAndPaddingBottomBig{
    position: relative;
    div.row-1{
      padding-bottom: 2px;
    }
    div.row-2{
      height: calc(var(--hypNodeHeight) + var(--bigPaddingBottom));
      position: absolute;
      top: 100%; left: 0;
      width: 100%;
      background: rgb(230, 233, 238);
    }
    &+.box-insides{
      padding-top: 0;
      /*
      This makes sure header hypotheses not exceed 30px in height [in most cases!]
      TODO remove this when vscode switches to Chrome 125, and we can switch to anchor tags,
      see a related TODO in <Header/>
      */
      .hypothesis-table:first-child tr:nth-child(2) div.hypothesis {
        max-width: 300px !important;
      }
    }
  }

  &.-hoistAndPaddingBottomBig +.box-insides{
    .hypothesis-table:first-child tr:nth-child(3) td{
      padding-top: 20px;
    }
  }
  &.-hoistAndPaddingBottomSmall{
    div.row-2{
      height: var(--hypNodeHeight);
    }
  }
  &.-row2Absent{
    div.row-1{
      padding-bottom: 5px;
    }
  }

  div.row-1{
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;

    column-gap: 2px;
    row-gap: 2px;
  }
}
footer{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.hypothesis-table{
  .hypothesis{
    width: fit-content;
    max-width: 200px;
    min-width: 100%;
  }
}
/* tactics will just follow hyp widths */
.proof-tree.-isCompactTacticsON .tactic.-hypothesis-tactic{
  width: min-content;
  max-width: 100%;
  min-width: 100%;
  word-break: break-all;
}
/* tactics will have self-respect */
.proof-tree.-isCompactTacticsOFF .tactic.-hypothesis-tactic,
.proof-tree.-isCompactTacticsON .tactic.-hypothesis-tactic.-with-self-respect{
  width: 100% ;
  min-width: min-content ;
}

.goals{
  .goal{
    max-width: 200px;
    min-width: 100%;
  }
  .tactic{
    max-width: 200px;
    min-width: 100%;
  }
}
#box-1 > .box-insides > .goals{
  min-width: 200px;
}

/*______________________ PROOF-TREE: fixed hypotheses ______________________*/

.in-scope-hypotheses{
  position: fixed;
  top: 0; left: 0; right: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 300;
}

/*______________________ MUI: error toast colors ______________________*/
.MuiSnackbar-root .MuiSnackbarContent-root{
  background-color: white;
  color: #434343;
}

.MuiMenuItem-root{
  font-size: 14px !important;
  min-height: 0 !important;
  padding-right: 12px !important;
  justify-content: space-between !important;

  .shortcut{
    color: grey;
    width: 38px;
    background: #f3f5f7;
    padding: 0 6px;
    font-weight: bold;
    border-radius: 3px;
    font-size: 13px;
    font-family: monospace;
  }
}

.MuiSwitch-root{
  margin-left: 7px;
}

/*______________________ DEVELOPMENT ______________________*/
.-hint pre{
  display: none;
  position: fixed;
  bottom: 0; right: 0;

  margin: 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1000;
  border-radius: 3px;
}
.-hint:hover pre{
  display: block;
}
