/* LIGHT BLUE VERSION
.rs-canvas{
  background: rgba(199, 210, 225, 0.18);
}

.tl-frame_body.depth-0 { fill: rgba(199, 219, 248, 0.03); }
.tl-frame_body.depth-1 { fill: rgba(199, 219, 248, 0.21); }
.tl-frame_body.depth-2 { fill: rgba(199, 219, 248, 0.35); }



.rs-theme__light{
  --palette-grey: rgb(180, 208, 236);
}
*/

/*  "Cool grey material dark palette" VERSION
const colors=[ "#1f2933",
"#323f4b",
"#3e4c59",
"#52606d",
"#616e7c",
"#7b8794",
"#9aa5b1",
"#cbd2d9",
"#e4e7eb",
"#f5f7fa",
"rgba(132, 147, 171, 0.40)",
"rgba(132, 147, 171, 0.33)",
"rgba(132, 147, 171, 0.22)",

"",
"",
"",
].reverse()

*/

/* BLUE VERSION
.tl-frame_body.depth-0 { fill: rgba(213, 236, 253, 0.7); }
.tl-frame_body.depth-1 { fill: rgba(213, 236, 253, 0.36); }
.tl-frame_body.depth-2 { fill: rgba(213, 236, 253, 0.16); }
*/

/* GREY VERSION 
.tl-frame_body.depth-0 { fill: rgba(132, 147, 171, 0.22); }
.tl-frame_body.depth-1 { fill: rgba(132, 147, 171, 0.33); }
.tl-frame_body.depth-2 { fill: rgba(132, 147, 171, 0.40); }
*/

/* LIGHT GREY VERSION */
.tl-frame_body.depth-0 { fill: rgba(132, 147, 171, 0.11); }
.tl-frame_body.depth-1 { fill: rgba(132, 147, 171, 0.17); }
.tl-frame_body.depth-2 { fill: rgba(132, 147, 171, 0.24); }